/*barra de navegacion*/

.navbar {
    padding: 3rem;
    background-color: #f5f6f7;
}

.navbar-collapse {
   align-items: center;
   justify-content: space-between;
}
/*estilos generales*/
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Rubik Dirt', cursive;
}

.seccion-oscura {
    color: #f5f6f7;
    background-color: #151511;
}

.seccion-titulo {
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Rubik Dirt', cursive;
}

.seccion-descripcion {
    font-size: 1.5rem;
    color: #151511;
    font-family: 'Rubik Dirt', cursive;
}

/*seccion hero*/
.hero {
    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;
}

.hero-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

/*sobre mi*/
.sobre-mi {
    height: 200px;
    padding: 10px;
}

.sobre-mi .contenedor {
    max-width: 600px;
    text-align: center;
}

.hero-imagen-desarrollador {
    width: 150px;
    height: 130px;
    border-radius: 50%;
    margin: 15px;
}

.hero-principal h2 {
    font-size: 1.5rem;
    color: #151511;
    
}

.badge-text-bg-primary {
    color: #f5f6f7;
}

.experiencia {
   
    padding: 40px 40px 60px 40px;
}



.experiencia i {
    font-size: 2.5rem;
    color: #cdde30;
    background-color: #303035;
    padding: 8px 19px;
    border-radius: 50%;
    text-align: center;
}

.experiencia-titulo {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.experiencia .columna {
    padding: 20px;
    border: 2px solid #8080804d;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: all 0.2s ease-in;

}

.experiencia .columna:hover {
    color: #0c0c0d;
    background-color: #a2a246;
    
}

.badges-contenedor {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
    color: #454540;
}

.badge {
    margin: 5px;
    color: #a2a246;
} 




.proyecto {
    position: relative;
}

.proyectos-recientes {
    padding: 40px;
}

.proyectos-recientes  {
    
    height:600px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: block;
    transition: all 0.2s ease;
}

.proyectos-contenedor {
    padding-top: 50px;
    margin-bottom:30px ;
}

.overlay {
   transition: all 0.2s ease;
   opacity: 0;
   position: absolute;
   top: 50;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
}

.overlay p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
}

.overlay .iconos-contenedor {
    display: flex;
   
}

.overlay i {
    color: #0a0909;
    font-size: 60px;
    margin:  10px;
}

.proyecto:hover .overlay {
   opacity: 1;
}

.proyecto:hover img {
    opacity: 0.2;
}

.btn-info {
    font-size: 1.2rem;
    margin: 70px;
    font-weight: bold;
}

.texto-negro {
    color: #434340;
}

.texto-blanco {
    color:white;
}

.articulos {
    padding: 40px;
    min-height: 500px;
    color: #0e0e0b;
}

.articulos .card {
   width: 80%; 
   margin: 20px;
   max-width: 500px;
}

.articulos .card-header {
    font-weight: bold;
}

/*testimonios*/
.testimonios {
    padding: 40px 40px 80px 40px;
    color: #151511;
}

.testimonios .carousel {
    max-width: 800px;
    color: #151511;
}

.testimonios-item {
    height: 500px;
    color: #151511;
}

.carousel-item .container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testimonio-imagen {
    width: 150px;
    height: 150px;
    margin: 10px 10px 20px 10px;
}

.testimonio-texto {
    max-width: 70%;
    font-size: 20px;
    text-align: center;
    color: #151511;
}


.testimonio-info p {
    margin-bottom: 0;
    color: #151511;
}

.testimonio-footer .cliente {
    font-size: 1.2rem;
    color: #151511;
    text-align: center;
    align-items: center;
    justify-content: flex-end;
    
}

.descripcion {
    color: white;
    font-size: 1.2rem;
    display: flex;
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
    height: 100%; /* Ajustar la altura del contenedor al 100% */
}



.testimonio-info .cargo {
    font-size: 0.9rem;
    color: #171818;
}

.contacto .container {
    max-width: 1100px;
    min-height: 200px;
    padding: 20px;
}

.contacto .rectangulo {
   min-height: 80px;
   margin-top: -10rem;
   background-color: rgb(23, 25, 27);
   border-radius: 10px;
   box-shadow: 0px 1px 4px 1px white;
   
}

.contacto .row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}



.contacto .descripcion {
    color: white;
    font-size: 1.2rem;
    display: flex;
    justify-content: center; /* Alineación horizontal al centro */
    text-align: center; /* Centra el texto horizontalmente dentro del contenedor */
    /* No se especifica align-items para mantener la alineación vertical actual */
}




.contacto button {
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid white;
    padding: 1.25em 2em;
    margin: 10px;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
}

.contacto button i {
    
    color: white;
    font-size: 1.3rem;
    transition: all 0.2s ease-in-out;
}
footer {
    height: 160px; /* Aumentamos la altura del footer para acomodar el icono más grande */
    width: 100%; /* Cambiamos el ancho a 100% para que ocupe todo el ancho disponible */
    display: flex;
    justify-content: space-between; /* Distribuir elementos en el footer */
    align-items: center; /* Centrar verticalmente los elementos */
    padding: 10px; /* Añadimos espaciado horizontal para separar los elementos del borde */
    background-color: #333; /* Cambiamos el color de fondo del footer */
    color: white;
}

.footer-logo {
    height: 1cm; /* Tamaño del icono 1cm x 1cm */
    width: 1cm;
    margin-right: 10px; /* Espaciado entre el icono y el texto */
}

.footer-texto {
    font-size: 0.8rem; /* Reducimos el tamaño de la fuente del texto */
    font-family: sans-serif;
    margin-bottom: 20px; /* Agregamos espacio vertical debajo del texto */
}

.iconos-redes-sociales {
   
    display: flex;
    gap: 10px; /* Espacio horizontal entre los iconos */
}

.iconos-redes-sociales a {
    width: 1cm; /* Tamaño del icono 1cm x 1cm */
    height: 1cm;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid white;
    transition: all 0.2s ease-in-out;
}

.iconos-redes-sociales i {
    color: antiquewhite;
    font-size: 1.2rem; /* Tamaño del icono ajustado */
    transition: all 0.2s ease-in;
   
}

.iconos-redes-sociales a:hover {
    background-color: white;
    border: 2px solid rgb(74, 112, 166);
   
}

.iconos-redes-sociales a:hover i {
   
    color: black;
}


/*adaptable responsivo*/
@media screen and (max-width: 768px) {
    .navbar-brand {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .testimopnio-imagen {
        height: 120px;
        width: 120px;
    }
}

.testimonio-texto {
   font-size: 18px;
   align-items: center;
    justify-content: flex-end;
}


@media screen and (min-width: 700px) {
    .hero-inferior-imagen {
        max-width: 600px;
    }
    }

    
  
